<%= form_for(@question) do |f| %>

<!-- TODO: Build error handling for question submissions -->
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Question stem:<%= f.text_field :content %>
  </div>

<table>
<%= f.fields_for :options do |builder| %>  
<tr>
	<td>
    <%= builder.label :content, "Option" %><br />  
    <%= builder.text_area :content, :rows => 4 %><br />
 	</td>
	<td>
    <%= builder.label :correct, "Correct?" %><br />  
    <%= builder.check_box :correct %><br />  
	</td>
</tr>
<% end %>
</table>

	<div class="actions">
    <%= f.submit %>
  </div>
<% end %>	