<%= form_for(@question) do |f| %>

<% categories = ["Biology", "Chemistry", "Physics", "Organic Chemistry"] %>
<!-- TODO: Build error handling for question submissions -->
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    Question stem:
	<br>
	<%= f.text_field :content, :style=>"width: 100%" %>
	<br>
	Category:
	<br>
	<%= f.collection_select(:category_id, Category.all, :id, :category ) %>
	<br>
  </div>

<table class="table" style="border-color: #FFF !important;">
<%= f.fields_for :options do |builder| %>  
<tr>
	<td>
    <%= builder.label :content, "Option" %> 
    <%= builder.text_field :content, :rows => 1, :style =>"width: 90%" %>
	</td>
	<td>
	<center>
    <%= builder.label :correct, "Correct?" %>
    <%= builder.check_box :correct %>
	</center>
	</td>
</tr>
<% end %>
</table>
<br>
<center><%= f.submit "Create Question", :class=>"btn btn-large btn-primary" %></center>
<% end %>	