<h2>Question Database</h2>
<br>
<table id="myTable" class="table table-hover table-striped tablesorter">
<thead>
  <tr>
	<th>Date</th>
    <th>Question</th>
	<th><center>Subject</center></th>
    <th><center>Focus</center></th>
	<th></th>
	<% if current_user.is_admin == 1 %>
    <th></th>
    <th></th>
	<%else%>
	<%end%>
  </tr>
</thead>
<tbody>
<% @questions.each do |question| %>
  <tr>
	<td><%= question.created_at.strftime("%m/%d/%y") %></td>
    <td><%= question.content %></td>
	<td><center><%= Category.find(question.category_id).category %></center></td>
	<td><center><%= Subcategory.find(question.subcategory_id).subcategory %></center></td>
    <td><%= link_to 'Show', question %></td>
<!-- Display edit and destroy links only if current_user is an administrator -->
	<% if current_user.is_admin == 1 %>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%else%>
	<%end%>
  </tr>
<% end %>
</tbody>
</table>
<br />
<div class="flickr_pagination"><%= will_paginate @questions %></div>
<!-- Display "Create New Question" button only if current_user is an administrator -->
<%if current_user.is_admin == 1 %>
<center><%= link_to 'Create New Question', new_question_path, :class=>"btn btn-large btn-primary" %></center>
<% else %>
<% end %>

<script type="text/javascript">
$(document).ready(function() { 
    $("table").tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            4: { 
                // disable it by setting the property sorter to false 
                sorter: false 
            }, 
            // assign the third column (we start counting zero) 
            5: { 
                // disable it by setting the property sorter to false 
                sorter: false 
            }, 
			6: { 
		       	// disable it by setting the property sorter to false 
		        sorter: false 
		       }
        } 
    }); 
});</script>