<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%=h @question.content %>

<ol>  
<table>
  <th>Option</th><th>Correct?</th>
  <% for option in @question.options %>  
  <tr>
  <td><li><%= h option.content %></li></td><td><%= h option.correct %></td>
  </tr>
  <% end %>  
</table>
</ol>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
