<div id="content">
		<div id="topSection">
			<div id="firstRow"
				<div id="topAdSpace">
				<!--	<img src="http://placehold.it/865x25"> -->
				</div>
			</div>
			<div id="secondRow">
			<aside id="leftAdSpace">
				<!-- <img src="http://placehold.it/120x485"> -->
			</aside>
			<section id="questionContentSpace">
				<table>
					<tr><td><h1>Today's Question:</h1><br></td>
						<td id="date"><p><script type="text/javascript">
							var d = new Date();
							document.write(d.getMonth()+1 +"/" +d.getDate() + "/" +d.getFullYear());
							</script></p>
						</td>
						<hr>
					</tr>
				</table>
				<br>
				<div id="quiz">
					<h4><%= @question.content%></h4>
					<%= form_for [@question, @answer] do |form| %>
					  <% @question.options.each do |option| %>
					    <div>
					    <%= form.radio_button "option_id", option.id %>
						<%= form.label "option_text", option.text %>
					  </div>

					  <% end %>

					  <%= form.submit "ANSWER" %>
					<% end %>
				</div>
				<br>
				<hr>
			</section>
			<aside id="rightAdSpace">
			<!-- 	<img src="http://placehold.it/120x485"> -->
			</aside>
	</div>
	</div>
