<!-- Display today's date -->
<div class="pull-right"><p><strong>Today's Question - <script type="text/javascript">
		var d = new Date();
		document.write(d.getMonth()+1 +"/" +d.getDate() + "/" +d.getFullYear());
		</script></strong></p>

</div>
 <br>
<!-- Display question and options -->
<h4><%= @question.content%></h4>
<br>
<%= form_for(@answer) do |form| %>
	<% @question.options.each do |option| %>
		<div class="form-inline" style="margin-left: 5%">
			<%= form.radio_button :answer, option.id, :style=>"margin-bottom: 7px;"%>
			<%= form.label "option_text", option.content%>			
			<br>
			<%= form.hidden_field :question_id, :value => @question.id  %>
			<% if user_signed_in? %>
			<%= form.hidden_field :user_id, :value => current_user.id  %>
			<% else %>
				<% if false %>
				<% end %>
			<% end %>
			
		</div>
	<% end %>
	<br>
	<center><%= form.submit "Submit Answer", :class=>"btn btn-large btn-primary" %></center>
<% end %>