<h4><%= @question.content%></h4>
<div class="form form-inline">
<%= form_for(@answer) do |form| %>
	<% @question.options.each do |option| %>
		<div>
			<%= form.radio_button :answer, option.id %>
			<%= form.label "option_text", option.content %>
			<%= form.hidden_field :question_id, :value => @question.id  %>
			<% if user_signed_in? %>
			<%= form.hidden_field :user_id, :value => current_user.id  %>
			<% else %>
				<% if false %>
				<% end %>
			<% end %>
			
		</div>
	<% end %>
	<br>
	<%= form.submit "Submit Answer" %>
<% end %>
</div>