<!-- Display today's date -->
<div class="pull-right"><h4><strong>Today's Question - <script type="text/javascript">
		var d = new Date();
		document.write(d.getMonth()+1 +"/" +d.getDate() + "/" +d.getFullYear());
		</script></strong></h4>

</div>
<br>
<br>
<!-- Display the latest question and response options -->
<div class="lead">
<h3><%= @question.content%></h3>
</div>
<%= form_for(@answer) do |form| %>
<% if @answer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	 <div class="form form-horizontal option-text">
		<table>
		<% @question.options.each do |option| %>
		<tr>
			<td style="vertical-align:text-top;"><%= form.radio_button :answer, option.id %></td>
			<td><%= form.label "option_text", option.content%></td>
				<%= form.hidden_field :question_id, :value => @question.id  %>
				<% if user_signed_in? %>
				<%= form.hidden_field :user_id, :value => current_user.id  %>
				<% else %>
					<% if false %>
					<% end %>
				<% end %>
		</tr>
		<% end %>
		</table>
		<br>
		<center><%= form.submit "Submit Answer", :class=>"btn btn-large btn-primary" %></center>
		<% end %>
	 </div>