<div class="row">
<div class="pull-right">
	<% if current_user.is_admin == 1 or current_user.id == @profile.user_id %>
		<%= button_to 'Edit your profile', edit_profile_path(@profile), :method => :get,  :class => "btn btn-small btn-success" %>
	<% else %>
	<% end %>
	<p id="notice"><%= notice %></p>
</div>
<div class="well span4">
<h3><%= @profile.first_name %> <%= @profile.last_name %> 
	<br>
	<small><%= @user.email %></small>
</h3>
<p>

	<b>User No. </b><%= @profile.user_id %>
	<br>
	<b>Joined on</b> <%= @profile.created_at.strftime("%b %e, %Y") %>
	<br>
	<b>Goal: </b><%= @profile.blurb %>
</div>
</p>
</div>

