<center><h2>Let's get started!</h2></center>
<br>
<p class="lead" style="text-align:justify">
	We'll always offer you new, free, daily real life-difficulty MCAT test preparation questions.  </p>
	<br>
<p class="lead" style="text-align:justify">
	If you're serious about scoring highly on the MCAT, <strong>sign up for free</strong> to gain access to our entire question database, track your performance on our questions over time, MCAT study schedule planning, and access to the individuals who write the questions in case you need more help.</p>
<br>
<p style="text-align:justify">
</p> 
<br>
<%= simple_form_for(resource, :as => resource_name, 
							  :url => registration_path(resource_name),
							  :html => { :class => "registration-form form-horizontal",
							   :style=>"margin-left:15%;"}) do |f| %>
							
  	<%= f.error_notification %>
    <%= f.input :email, :required => true, :autofocus => true, :label =>"Email" %>
    <%= f.input :password, :required => true, :label =>"Password" %>
    <%= f.input :password_confirmation, :required => true, :label =>"Confirm Password" %>
	<br>

    <center><%= f.button :submit, "Sign up!", :class => "btn btn-success btn-large", :style=>"margin-left:-20%;"  %></center>

<% end %>