<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form">
    <%= f.input :email, :required => true, :autofocus => true %>
	<br>
    <%= f.input :password, :required => true %>
	<br>
    <%= f.input :password_confirmation, :required => true %>
	<br	>
    <%= f.button :submit, "Sign up", :class => "btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>