<div id="content">
	<div id="topSection">
		<div id="firstRow">
			<div id="topAdSpace">
			<!--	<img src="http://placehold.it/865x25"> -->
			</div>
		</div>
		<div id="secondRow">
		<div id="leftAdSpace">
			<!-- <img src="http://placehold.it/120x485"> -->
		</div>
		<div id="newUserContentSpace">
			<hr>
			<div>
	<p>It's this easy. Create an account to track your progress.<p>
<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.text_field :name %><%= f.label :name %><br />
  </div>
  <div class="field">
    <%= f.text_field :email %><%= f.label :email %><br />
  </div>
  <div class="field">
    <%= f.password_field :password %><%= f.label :password %><br />
  </div>
  <div class="field">
   <%= f.password_field :password_confirmation %><%= f.label :password_confirmation, "Confirm Password" %><br />
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
			</div>
			<hr>
		</div>
		<div id="rightAdSpace">
		<!-- 	<img src="http://placehold.it/120x485"> -->
		</div>
</div>
</div>
</div>