<center>
<h2>Forgot your password?</h2>
<br>
</center>
<%= simple_form_for(resource, :as => resource_name, 
							  :url => password_path(resource_name), 
							  :html => { :method => :post, 
								 		 :class=>"form-horizontal",
										 :style=>"margin-left: 10%;"}) do |f| %>
  <%= f.error_notification %>

	<%= f.input :email, :required => true %>
<br>

<center><%= f.button :submit, "Send me reset password instructions", :class=>"btn btn-inverse", :style=>"margin-left: -10%;" %></center>
<% end %>

<br><br>
<center><%= render "devise/shared/links" %></center>
