<%= simple_form_for(resource, :as => resource_name, 
							  :url => session_path(resource_name),
							  :html => { :class => "form-inline"}) do |f| %>
							
    <%= f.input :email, :required => false, :autofocus => true, :label =>"Email" %>
	<br>
    <%= f.input :password, :required => false, :label =>"Password:" %>
	<br>
	<div class="form-horizontal">
	<%= f.input :remember_me, :label=>"Remember password", :as => :boolean if devise_mapping.rememberable? %>
	</div>
	<div class="pull-right"><%= f.button :submit, "Sign in", :class => "btn btn-primary" %></div>
	<br>
<% end %>
