<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <title>MCATqd</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-24240893-3']);
		_gaq.push(['_trackPageview']);

		(function() {
  	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
<meta charset="utf-8">
</head>
<body>
	<header id="head">MCATqd.com
		<span id="links"> 
		<%= link_to "Home", root_path %> 
		<%= link_to "About", about_path %> 
		<%= link_to "Blog", posts_path %> 
		<%= link_to "Leader Board", leaderboard_path %> 
		<% if signed_in? %>
		<%= link_to "Log Out", signout_path, :method => :delete %> 
		<% else %>
		<%= link_to "Log In", signin_path %>
		<% end %>
		<%= link_to "Sign up now!", new_user_path, :class => "signup_button round"%></span>
	</header>

<%= yield %>
<div id="bottomContentSpace">
			<div id="recentPosts">
				<h4>Recent Posts</h4>
				<hr>
				<table>
				<% @posts = Post.limit(4)%>
				<% @posts.each do |post| %>
				<tr><td><%= post.title %></td></tr>
				<tr><td><b>By: </b> <%= post.name %></td></tr>
				</table>
				<%end%>
				<!-- <img src="http://placehold.it/288"> -->
			</div>
			<div id="twitterFeed">
				<h4>Twitter</h4>
				<hr>
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
					<script>
				new TWTR.Widget({
	  			version: 2,
				type: 'profile',
	  			rpp: 4,
	  			interval: 6000,
	  			width: 288,
	  			height: 288,
	  			theme: {
	    		shell: {
	      				background: '#fff',
	      					color: '#000'
	    					},
	    		tweets: {
	      					background: '#fff',
	  	    				color: '#000',
	      					links: '#CA1E00'
	    					}
	  					},
	  			features: {
	    				scrollbar: false,
	    				loop: false,
	    				live: false,
	    				hashtags: true,
	    				timestamp: true,
	    				avatars: false,
					    behavior: 'all'
	  					}
					}).render().setUser('mcatQD').start();
				</script>
				<!-- <img src="http://placehold.it/288"> -->
			</div>
			<div id="calendar">
				<h4>Calendar</h4>
				<hr>
				<!-- TODO: Customize using RestyleGC -->
				<iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=288&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=mcatqd.com_ps5p6q2nrm1vi2bagu1k4ghhmg%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FMontreal" style=" border-width:0 " width="288" height="288" frameborder="0" scrolling="no"></iframe>
				<!-- <img src="http://placehold.it/288"> -->
			</div>
		</div>
		<footer>
		<p>MCAT&reg; is a registered trademark of the Association of American Medical Colleges, which is not affiliated with this website. <a href="about.html">Contact</a></p>
		<br>
		<!-- <img src="http://placehold.it/865x25"> -->
		</footer>
	</div>
	</div>
</body>
</html>
