<!DOCTYPE html>
<html>
<head>
  <title>MCATqd.com - Once Daily MCAT Prepper</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="MCATqd.com - Once Daily MCAT Prepper">
  <meta name="author" content="Brian Quaranto">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- For Mom & Dad, who bought me all of those review books.
	 Made in Boston, with love
		-Brian Quaranto 								-->
</head>

<body> 
<!-- Load TypeKit fonts -->
<script type="text/javascript" src="//use.typekit.net/flm3wqe.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Bootstrap Javascript/JQuery stuff -->
<script type="text/javascript">
	  $('.dropdown-toggle').dropdown();
	  $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
	        e.stopPropagation();
	  });
</script>

<!-- Fork me on Github -->
<a href="https://github.com/bquarant/mcatqd"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a></a>

<!-- Navigation Bar Code -->
<div class="container-narrow">
	<div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><%= link_to 'About', about_path('about') %></li>
		<% if user_signed_in? %>
		  <li><%= link_to 'Questions', questions_path %></li>
		  <li><%= link_to 'My Profile', current_user.profile %></li>
		  <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
		<% else %>
	          <li class="divider-vertical"></li>
	          <li class="dropdown">
	            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign in <strong class="caret"></strong></a>
	            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
					<%= render "devise/sessions/form"%>
	            </div>
			  </li>
		<% end %>
        </ul>
        <h3 class="muted"><%= link_to('MCATqd.com', root_path) %></h3>
    </div>
    <hr>

<!-- Display jumbotron marketing stuff only if user is not signed in -->
<% if current_user.nil? %>
	<div class="jumbotron">
        <h1>Your Name, MD</h1>
		<br>
        <p class="lead" style="text-align:center; color:gray;">But first you've got to beat the test.<br></p>
		<p class="lead"><strong>MCATqd.com</strong> is here to get you prepared with daily questions, a practice question database, and a rigorous review schedule tailored for your MCAT test date.</p>
        <center><%= link_to('Are you ready?', new_user_registration_path, :class=>"btn btn-large btn-success") %></center>
    </div>
	<hr>
<!-- If user is signed in, do not display jumbotron -->
<% end %>

	<div class="row-fluid">
	<%= yield %>
	</div>
	<hr>

      <div class="footer pull-right" style="font-size: 12px;">
        <p>MCATqd.com | <a href="http://www.twitter.com/mcatqd">@mcatqd</a> | <%= link_to 'Disclaimer', "about/disclaimer"  %> | <a href="mailto:brian@quaran.to">?'s</a></p>
      </div>
</div> <!-- /container -->


<!-- Friendly code from gaug.es which tracks your every move -->
<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '50b40e30613f5d7d85000046');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
</script> 
</body>
</html>